@charset "utf-8";

/*base*/
body,
ul,
li,
ol,
dl,
dt,
dd,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
body {
  font: normal 15px "맑은고딕", "Malgun Gothic", serif;
  background: #f0f0f0;
}
ul {
  list-style: none;
}
img {
  border: 0;
  vertical-align: top;
}
a {
  text-decoration: none;
}

#wrap {
  width: 100%;
  overflow: hidden;
}

/*------header------*/
.header {
  position: relative;
}
.header .header_pc {
  width: 100%;
  height: 70px;
  z-index: 2;
  background: url(../images/sub1/gnb_bg.png);
  position: fixed;
  opacity: 0.9;
  box-shadow: 0px 0px 6px gray;
}
.header .header_pc p {
  float: left;
  clear: both;
  padding: 13px 0 0 13px;
}

.header .header_pc .header_menu {
  background: url(../images/sub1/gnb_bg.png);
  box-shadow: 0px 0px 6px gray;
}
.header .header_pc .header_menu .nav {
  width: 580px;
  height: 70px;
  margin: 0 auto;
  line-height: 70px;
}
.header .header_pc .header_menu .nav .gnb {
}
.header .header_pc .header_menu .nav .gnb > li {
  float: left;
  margin-left: 45px;
}
.header .header_pc .header_menu .nav .gnb > li:first-child {
}
.header .header_pc .header_menu .nav .gnb > li > a {
  color: #000;
  font-size: 19px;
  font-weight: 600;
}
.header .header_pc .header_menu .nav .gnb > li:hover > a {
  color: rgb(215, 29, 29);
  transition: all 0.5s;
}

.header .header_pc .header_menu .pc_login {
  position: absolute;
  top: 0;
  right: 20px;
  width: 170px;
  padding-top: 22px;
}
.header .header_pc .header_menu .pc_login li {
  float: left;
  margin-right: 10px;
  font-size: 16px;
}
.header .header_pc .header_menu .pc_login li:last-child {
  margin-right: 0px;
}
.header .header_pc .header_menu .pc_login li a {
  color: #000;
  font-weight: 600;
}

.header .header_pc .header_menu .submenu {
  margin: 0 auto;
  width: 580px;
  height: 200px;
  text-align: center;
  display: none;
}
.header .header_pc .header_menu .submenu ul {
  float: left;
}
.header .header_pc .header_menu .submenu ul {
  float: left;
  margin-top: 10px;
}
.header .header_pc .header_menu .submenu ul li {
  line-height: 2.2;
}
.header .header_pc .header_menu .submenu ul li a {
  color: #000;
  font-size: 16px;
}
.header .header_pc .header_menu .submenu ul.sub1 {
  margin-left: 40px;
}
.header .header_pc .header_menu .submenu ul.sub2 {
  margin-left: 28px;
}
.header .header_pc .header_menu .submenu ul.sub3 {
}
.header .header_pc .header_menu .submenu ul.sub4 {
  margin-left: 142px;
}

.submenu ul.sub .s_circle {
  display: inline-block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #e5322d;
  opacity: 0;
  margin: 0 0 3px 6px;
}
.submenu ul.sub li:hover .s_circle {
  opacity: 1;
}

.header .header_m_t {
  width: 100%;
  position: absolute;
  top: 0;
  height: 60px;
  z-index: 2;
  background: url(../images/sub1/gnb_bg.png);
  position: fixed;
  opacity: 0.9;
}
.header .header_m_t .h_menubar {
  float: left;
  padding: 14px;
}
.header .header_m_t .h_logo {
  margin: 0 auto;
  width: 200px;
  height: 50px;
  padding-top: 10px;
}
.header .header_m_t .m_t_login {
  position: absolute;
  top: 0;
  right: 5px;
  width: 80px;
  padding-top: 13px;
}
.header .header_m_t .m_t_login li {
  float: left;
  margin-right: 10px;
}
.header .header_m_t .m_t_login li:last-child {
  margin-right: 0;
}

.menu_nav {
  width: 250px;
  height: 100%;
  position: fixed;
  top: 0;
  left: -250px;
  background: rgba(255, 255, 255, 0.98);
  z-index: 10;
  box-sizing: border-box;
  padding-top: 30px;
}
.menu_nav .nav_close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.menu_nav .gnb_mt {
  margin-top: 50px;
}
.menu_nav .gnb_mt > li {
  line-height: 2.8;
  font-size: 17px;
  font-weight: bold;
}
.menu_nav .gnb_mt > li > a {
  color: #000;
  display: block;
  box-sizing: border-box;
  padding-left: 20px;
}
.menu_nav .gnb_mt > li > a:hover {
  background: rgba(146, 146, 146, 0.3);
}
.menu_nav .gnb_mt li .n_login {
  color: rgb(215, 29, 29);
}
.menu_nav .gnb_mt ul {
  display: none;
  font-size: 14px;
}
.menu_nav .gnb_mt ul li {
  line-height: 2.2;
}
.menu_nav .gnb_mt ul a {
  color: rgb(71, 71, 71);
  font-size: 14px;
  font-weight: 500;
  display: block;
  padding-left: 25px;
  box-sizing: border-box;
}
.sub_mt .mt_circle {
  display: inline-block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #e5322d;
  margin: 0 0 3px 6px;
  opacity: 0;
}
.menu_nav .gnb_mt ul a:hover .mt_circle {
  opacity: 1;
}
.menu_nav .gnb2 {
  margin-top: 50px;
}
.menu_nav .gnb2 li {
  line-height: 1.8;
  font-size: 15px;
}
.menu_nav .gnb2 li a {
  color: #000;
  display: block;
  box-sizing: border-box;
  padding-left: 20px;
}

.black_back {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 6;
  display: none;
}

.search_open {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.9);
  z-index: 10;
  box-sizing: border-box;
  display: none;
}
.search_open .search_close {
  position: absolute;
  top: 20px;
  left: 15px;
  cursor: pointer;
}

.search_open .search_in {
  width: 100%;
  position: absolute;
  top: 25%;
  left: 0%;
  padding: 0 45px;
  box-sizing: border-box;
  display: inline;
}
.search_open .search_in .s_txt input {
  width: 100%;
  height: 40px;
  outline: 0;
  border: none;
  border-bottom: 2px solid #000;
  background: rgba(0, 0, 0, 0);
  box-sizing: border-box;
  color: #000;
  text-align: center;
  font-size: 15px;
}
.search_open .search_in .s_txt input::placeholder {
  color: rgb(0, 0, 0);
}
.search_open .search_in .s_btn input {
  position: absolute;
  top: 5px;
  right: 50px;
}
.search_open .search_in .search_txt {
  margin-top: 40px;
  text-align: center;
  color: #000;
  font-size: 15px;
}

.search_open .search_in .scroll-text {
  width: 100%;
  height: 150px;
  overflow: hidden;
  margin-top: 50px;
}
.search_open .search_in .scroll-text .s_list {
  margin-top: 20px;
  text-align: center;
  height: 200px;
  overflow: hidden;
}
.search_open .search_in .scroll-text .s_list li {
  line-height: 3.7;
  font-size: 13px;
  display: block;
}
.search_open .search_in .scroll-text .s_list li a {
  color: #000;
  font-size: 14px;
}

/*------visual------*/
.visual {
  width: 100%;
  height: 600px;
  background: url(../images/sub1/visual.jpg);
  background-size: cover;
  background-position: 0 30%;
  position: relative;
}
.visual h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  color: #fff;
  text-shadow: 7px 7px 7px gray;
  text-align: center;
}

/*------contents------*/
.contents {
  margin-top: 50px;
  width: 100%;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: auto;
}
.contents section {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 5%;
}
.contents section .cont_in {
  display: flex;
  align-items: center;
}
.contents section .cont_in .cont_txt {
  width: 50%;
  text-align: center;
}
.contents section .cont_in .cont_txt .c_txt1 {
  font-size: 20px;
  font-weight: bold;
}
.contents section .cont_in .cont_txt .c_txt2 {
  font-size: 16px;
  margin-top: 5%;
}
.contents section .cont_in .cont_txt .c_txt3 {
  font-size: 15px;
  margin-top: 5%;
}
.contents section .cont_in .cont_txt .c_txt3 span {
  color: #e5322d;
}
.contents section .cont_in .cont_txt .c_btn {
  margin-top: 5%;
}
.contents section .cont_in .cont_txt .c_btn a {
  width: 250px;
  height: 50px;
  font-size: 18px;
  background: #b39a7c;
  display: inline-block;
  line-height: 50px;
  color: #fff;
}
.contents section .cont_in .cont_txt .c_btn a:hover {
  background: #fff;
  color: #b39a7c;
  font-weight: bold;
  border: 2px solid #b39a7c;
  transition: all 0.5s;
}

.contents section .cont_in .cont_img {
  width: 48%;
  margin: auto 2%;
}
.contents section .cont_in .cont_img img {
  width: 100%;
}

/*------footer------*/
.footer {
  width: 100%;
  margin: 100px auto 0;
  position: relative;
}
.footer .f_line {
  width: 100%;
  height: 3px;
  background: #2d430f;
}
.footer .foot1 {
  width: 45%;
  height: 250px;
  margin: 40px auto;
  text-align: center;
}
.footer .foot1 .f_menu {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
}
.footer .foot1 .f_menu > li {
  text-align: center;
}
.footer .foot1 .f_menu .fm_2 {
  margin-bottom: 20px;
}
.footer .foot1 .f_menu .fm_3 {
  margin-right: 0;
}
.footer .foot1 .f_menu > li > a {
  color: #000;
  font-size: 20px;
  font-weight: bold;
}

.footer .foot1 .f_menu .f_in_list {
  margin-top: 10px;
  line-height: 2;
}
.footer .foot1 .f_menu .f_in_list a {
  color: #000;
}

.footer .foot2 {
  width: 80%;
  text-align: center;
  margin: 40px auto;
  font-size: 13px;
}
.footer .foot2 a {
  color: #000;
  text-decoration: underline;
}
