@charset "utf-8";



/*mobile*/
@media screen and (max-width:639px) {
.header_pc{display: none;}
}

/*tablet*/
@media screen and (min-width:640px) and (max-width:1024px) {
.header_pc{display: none;}
}

/*pc*/
@media screen and (min-width:1024px) {
.header_m_t{display: none;}
}