@charset "utf-8";

/*base*/
body,ul,li,ol,dl,dt,dd,p,h1,h2,h3,h4,h5,h6{margin:0;padding:0;}    
body{font:normal 15px "맑은고딕", "Malgun Gothic", serif;}
ul{list-style: none;}
img{border:0;vertical-align: top;}
a{text-decoration: none;} 

#wrap{width:100%;overflow: hidden;}


/*------header------*/
.header{position: relative;}
.header .header_pc{width:100%;position:absolute;top:0;height: 70px;z-index: 2; background: url(/common/images/gnb_bg.png);position: fixed;opacity: 0.9;box-shadow: 0px 0px 6px gray;}
.header .header_pc p{float: left;padding: 13px;}

.header .header_pc .header_menu{background: url(/common/images/gnb_bg.png);box-shadow: 0px 0px 6px gray;}
.header .header_pc .header_menu .nav{width: 630px;height: 70px;margin:0 auto;line-height: 70px;}
.header .header_pc .header_menu .nav .gnb{}
.header .header_pc .header_menu .nav .gnb>li{float: left;margin-left: 80px;}
.header .header_pc .header_menu .nav .gnb>li:first-child{margin-left: 0;}
.header .header_pc .header_menu .nav .gnb>li>a{color: #000;font-size: 19px;font-weight: 600;}
.header .header_pc .header_menu .nav .gnb>li:hover>a{color: rgb(215, 29, 29);transition: all 0.5s;}

.header .header_pc .header_menu .pc_login{position: absolute;top: 0;right: 20px; width: 170px;padding-top: 22px;}
.header .header_pc .header_menu .pc_login li{float: left;margin-right: 10px;font-size: 16px;}
.header .header_pc .header_menu .pc_login li:last-child{margin-right: 0px;}
.header .header_pc .header_menu .pc_login li a{color: #000;font-weight: 600;}

.header .header_pc .header_menu .submenu{margin: 0 auto;width: 700px;height: 200px; text-align: center;display: none;}
.header .header_pc .header_menu .submenu ul{float: left;}
.header .header_pc .header_menu .submenu ul{float: left;margin-top: 10px;}
.header .header_pc .header_menu .submenu ul li{line-height: 2.2;}
.header .header_pc .header_menu .submenu ul li a{color: #000;font-size: 16px;}
.header .header_pc .header_menu .submenu ul.sub1{margin-left: 30px;}
.header .header_pc .header_menu .submenu ul.sub2{margin-left: 63px;}
.header .header_pc .header_menu .submenu ul.sub3{}
.header .header_pc .header_menu .submenu ul.sub4{margin-left: 212px;}

.submenu ul.sub .s_circle{display:inline-block;width: 5px;height: 5px;border-radius: 50%;background: #e5322d;opacity: 0;margin: 0 0 3px 6px;}
.submenu ul.sub1 .s1-1:hover .s_circle,.submenu ul.sub1 .s1-2:hover .s_circle,.submenu ul.sub1 .s1-3:hover .s_circle,.submenu ul.sub1 .s1-4:hover .s_circle{opacity: 1;}
.submenu ul.sub2 .s2-1:hover .s_circle,.submenu ul.sub2 .s2-2:hover .s_circle{opacity: 1;}
.submenu ul.sub4 .s4-1:hover .s_circle,.submenu ul.sub4 .s4-2:hover .s_circle{opacity: 1;}

.header .header_m_t{width:100%;position:absolute;top:0;height: 60px;z-index: 2; background: url(/common/images/gnb_bg.png);position: fixed;opacity: 0.9;}
.header .header_m_t .h_menubar{float: left;padding: 14px;}
.header .header_m_t .h_logo{margin: 0 auto;width: 200px;height: 50px;padding-top: 10px;}
.header .header_m_t .m_t_login{position: absolute;top: 0;right: 5px;width: 80px;padding-top: 13px;}
.header .header_m_t .m_t_login li{float: left;margin-right: 10px;}
.header .header_m_t .m_t_login li:last-child{margin-right: 0;}

.menu_nav{width: 250px;height: 100%;position: fixed;top: 0;left: -250px;background: rgba(255, 255, 255, 0.98); z-index: 10;box-sizing: border-box;padding-top: 30px}
.menu_nav .nav_close{position: absolute;top: 10px;right: 10px;cursor: pointer;}

.menu_nav .nav .gnb{margin-top: 50px;}
.menu_nav .nav .gnb li{line-height: 2.8;font-size: 17px;font-weight: bold;}
.menu_nav .nav .gnb li a{color: #000;display: block;box-sizing: border-box;padding-left: 20px;}
.menu_nav .nav .gnb li a:hover{background: rgba(146, 146, 146, 0.3);}
.menu_nav .nav .gnb .n_login a{color: rgb(215, 29, 29);}

.menu_nav .nav .gnb2{margin-top: 50px;}
.menu_nav .nav .gnb2 li{line-height: 1.8;font-size: 15px;}
.menu_nav .nav .gnb2 li a{color: #000;display: block;box-sizing: border-box;padding-left: 20px;}

.black_back{position: fixed;top: 0;left: 0;width: 100%;height: 100%;background: rgba(0, 0, 0, 0.8);z-index: 6;display: none;}


.search_open{width: 100%;height: 100%;position: fixed;top: 0;left: 0;background: rgba(255, 255, 255, 0.9);z-index: 10;box-sizing: border-box;display: none;}
.search_open .search_close{position: absolute;top: 20px;left: 15px;cursor: pointer;}

.search_open .search_in{width: 100%; position: absolute; top: 25%;left: 0%;padding: 0 45px;box-sizing: border-box;display: inline;}
.search_open .search_in .s_txt input{width: 100%;height: 40px;outline: 0;border: none; border-bottom: 2px solid #000;background: rgba(0, 0, 0, 0);box-sizing: border-box;color: #000;text-align: center;font-size: 15px;}
.search_open .search_in .s_txt input::placeholder{color: rgb(0, 0, 0);}
.search_open .search_in .s_btn input{position: absolute;top: 5px;right: 50px;}
.search_open .search_in .search_txt{margin-top: 40px;text-align: center;color: #000;font-size: 15px;}

.search_open .search_in .scroll-text{width: 100%;height: 150px; overflow: hidden;margin-top: 50px;}
.search_open .search_in .scroll-text .s_list{margin-top: 20px;text-align: center;height: 200px; overflow: hidden;}
.search_open .search_in .scroll-text .s_list li{line-height: 3.7;font-size: 13px;display: block;}
.search_open .search_in .scroll-text .s_list li a{color: #000;font-size: 14px;}


.contents{width: 100%;height: 890px; background: url(../images/visual.webp) no-repeat;background-size: cover;opacity: 0.7;position: relative;}
.contents .content_in{width: 50%;height: 650px;background: pink;position: absolute;top: 50%;left: 50%;transform: translate(-50%,-45%);}
.contents .content_in div{width: 50%;float: left;margin-top: 50px;}
.contents .content_in .cont1{text-align: center;position: relative;}
.contents .content_in .cont2{text-align: center;}
.contents .content_in .cont1 .cont1_in{width: 80%;background: skyblue;position: absolute; top: 80%;left: 10%;text-align: left;}
.contents .content_in .cont1 .cont1_in .id{font-size: 17px;margin-left: 5%;}
.contents .content_in .cont1 .cont1_in .id_input{width: 75%;height: 45px;border-radius: 20px;outline: none;border: 0;padding-left: 10px;margin:10px 0 0 5%;}

.contents .content_in .cont1 .cont1_in .pw{margin: 30px 0 0 5%;font-size: 17px;}
.contents .content_in .cont1 .cont1_in .pw_input{width: 75%;height: 45px;border-radius: 20px;outline: none;border: 0;padding-left: 10px;margin:10px 0 0 5%;}
.contents .content_in .cont1 .cont1_in .login_btn{margin-top: 40px;}
.contents .content_in .cont1 .cont1_in .login_btn .login{width: 90%;height: 45px;background: #000;color: #fff;line-height: 45px;text-align: center;margin: 0 auto;}
.contents .content_in .cont1 .cont1_in .login_btn .n_login{width: 43%;height: 45px;background: green;color: #fff;line-height: 45px;text-align: center;margin: 20px 2.3% 0 5%;display: inline-block;}
.contents .content_in .cont1 .cont1_in .login_btn .k_login{width: 43%;height: 45px;background: #ffe814;line-height: 45px;text-align: center;margin-top: 20px;display: inline-block;}

.contents .content_in .cont1 .cont1_in .search_ip{margin: 20px 0 0 5%;text-align: center;}
.contents .content_in .cont1 .cont1_in .search_ip li{float: left;margin-left: 4%;text-align: center;}
.contents .content_in .cont1 .cont1_in .search_ip li:last-child{margin-left: 10%;}
.contents .content_in .cont1 .cont1_in .search_ip li a{color: #000;}